@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
section{
    min-height: 100vh;
    padding: 12rem 9% 2rem;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}
.logo{
    color: var(--text-color);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}
.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}
.navbar a:hover{
    color: var(--main-color);
}
.navbar a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: var(--main-color);
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}
.navbar a:hover::after{
    transform: scaleX(1);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
.navbar .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 2em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navbar .btnLogin-popup:hover{
    background-color: var(--main-color);
    color: #162938;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./img/18-28.jpg);
}
.home-img img{
        height: auto;   
        animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage {
    0%{
        transform: translateY(0);
    }    
    50%{
        transform: translateY(-2.4rem);
    }    
    100%{
        transform: translateY(0);
    }
}
.home-content h1{
    font-size: 3.2rem;
    font-weight: 700;

}
span{
    color: var(--main-color);
}
.home-content {
    font-size: 3rem;
}
.home-content h3{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;

}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}
.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);

}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
}
.btn:hover{
    box-shadow: none;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}
.about-img img{
    width: 35vw;
}
.heading{
    text-align: center;
    font-size: 4.5rem;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
}
.about-content h3{
    font-size: 2.6rem;
}
.about-content p{
    text-indent: 30px;
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.services{
    margin-bottom: 5rem;
}
.service-contaier{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

}
.service-contaier .service-box{
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
   text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}
.service-contaier .service-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}
.service-box i{
    font-size: 7rem;
    color: var(--main-color);
}
.service-box h3{
    font-size: 2.6rem;
}
.service-box h2{
    font-size: 3rem;
}
.service-box p{
    font-size: 1.8rem;
    margin: 1rem 0 3rem;
}
.facilities{
        background: var(--second-bg-color);
}
.facilities h2{
    margin-bottom: 4rem;
}
.facilities-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.facilities-container .facilites-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}
.facilites-box img{
    width: 30vw;
    height: 30vh;
    transition: .5s ease;
}
.facilites-box:hover img{
    transform: scale(1.1);
}
.facilites-box .facilities-layer{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.facilites-box:hover .facilities-layer{
    transform: translateY(0);
}
.facilities-layer h4{
    font-size: 4rem;
}
.facilities-layer{
    font-size: 1.6rem;
    margin: .3rem 0 0;
}
.facilities-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}
.course{
    background: var(--second-bg-color);
}
.course h2{
    margin-bottom: 4rem;
}
.course-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.course-container .course-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}
.course-box img{
    width: 30vw;
    height: 30vh;
    transition: .5s ease;
}
.course-box:hover img{
    transform: scale(1.1);
}
.course-box .course-layer{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.course-box:hover .course-layer{
    transform: translateY(0);
}
.course-layer h4{
    font-size: 3rem;
}
.course-layer{
    font-size: 1.6rem;
    margin: .3rem 0 0;
}
.course-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.contact h2{
    margin-bottom: 3rem;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}
.contact form .input-box input{
    width: 49%;
}
.contact form textarea{
    resize: none;
    cursor: pointer;
}
.pogi .text{
    display: grid;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background:var(--second-bg-color);
}
.footer-text p{
    font-size: 1.6rem;
}
.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    transition: .5s ease; 
}
.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}
@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}
@media(max-width: 991px){
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .services{
     padding-bottom: 7rem;  
    }
    .facilities{
        padding-bottom: 7rem;
    }
    .course{
        padding-bottom: 7rem;
    }
    .contact{
        min-height: auto;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media (max-width: 768px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

  .navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
  .home{
    flex-direction: column;
  }
  .home-content h3{
    font-size: 2.6rem;
  }
  .home-content h1{
    font-size: 5rem;
  }
  .home-img img{
    width: 70vw;
    margin-top: 4rem;
  }
  .about{
    flex-direction: column-reverse;
  }
  .about img{
    width: 70vw;
    margin-top: 4rem;
  }
  .services h2{
    margin-bottom: 3rem;
  }
  .facilities h2{
    margin-bottom: 3rem;
  }
  .facilities-container{
    grid-template-columns:repeat(2,1fr) ;
  }
  .course h2{
    margin-bottom: 3rem;
  }
  .course-container{
    grid-template-columns:repeat(2,1fr) ;
  }
}
@media (max-width: 617px){
    .facilities-container{
        grid-template-columns: 1fr;
    }
    .course-container{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    .contact form .input-box input{
        width: 100%;
    }
}
@media (max-width: 365px){
    .home-img img{
        width: 90vh;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
        margin-top: 2rem;

    }
}